/*
----------------------------------------------------
TABLE OF CONTENTS                                   |
¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯¯                                  |
HEADER -                                            |
MAIN -                                              |
FOOTER -                                            |
----------------------------------------------------
COLOR PALETTE
#E63946 - Imperial Red
#F1FAEE - Honeydew
#A8DADC - Powder Blue
#457B9D - Celadon Blue
#1D3557 - Prussian Blue
*/
:root {
  --imperialRed: #E63946;
  --honeyDew: #F1FAEE;
  --powderBlue: #A8DADC;
  --celadonBlue: #457B9D;
  --prussianBlue: #1D3557;
}
/* Universal Selector */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
/* Element Selectors */
body {
  background-color: var(--prussianBlue);
  color:var(--honeyDew);
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 1.6rem;
}

a {
  color: var(--honeyDew);
  text-decoration: underline;
}
/* ------HEADER------ */
header {
  padding: 1rem;
  background-color: var(--imperialRed);
  text-align: center;
}

header h1 {
  display: inline-block;
  font-size: 48px;
}

/* ------MAIN------ */
main div {
  /* border: 1px solid var(--celadonBlue); */
  padding: 0.5rem;
}
.contain {
  height:500px;
}

.no-gutters {
  margin-right: 0;
  margin-left: 0;
}